/* Smartphone */
@media all and (max-width: 670px) {
    #top-content-box-container{
        display:flex;
        flex-direction: column;
    }
    .content-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 80%;
    }
    #tea-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tea-img{
        margin-bottom: 30px;
    }
}
/* Tablet */
@media all and (max-width: 1000px) {
    .content-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 80%;
    }
    #tea-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tea-img{
        margin-bottom: 30px;
    }
}